@media (min-width: 600px) {
  .guess-game {
    margin-top: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media (min-width: 768px) {
  .guess-game {
    justify-content: space-around;
  }
}
